@font-face {
    font-family: 'oswaldregular';
    src: url('./fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    background:
        url(./images/photo-1570191913384-7b4ff11716e7.avif)
        no-repeat
        left top / 40vw auto,
        linear-gradient(to right, lightgrey 60vw, lightgrey 100%);
        font-family:'oswaldregular', 'Times New Roman', Times, serif;
        font-size: 16px; 
}
.main {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: whitesmoke;
}
h1 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 8rem;
    line-height: 1.2;
}
h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-left: 3rem;
}

.form-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 10px gray;
    background-color: white;
}
.forms {
    font-size: 1.2rem;
    margin-left: 3rem;
}
label {
    margin-right: 5rem;
    display: inline-block;
}
input {
    display: block;
    border-radius: 0.6rem;
    border: 2px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
    height: 25px;
}
input[type="password"]:focus:invalid {
    border-color: red;
    outline: none;
}
input[type="password"]:focus:valid + .error-message {
    border-color: green;
    outline: none;
    display: block;
}
input[type="email"]:focus:invalid {
    border-color: red;
    outline: none;
}
input[type="email"]:focus:valid {
    border-color: green;
    outline: none;
}
button {
    background-color: #596D48;
    color: white;
    margin-left: 3rem;
    height: 50px;
    width: 250px;
    border-radius: 0.6rem;
    font-size: 1.2rem;
}
.log-in {
        font-size: 1.2rem;
        margin-left: 3rem;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40vw;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
}
a {
    color: #ffffff;
}
a:hover {
    color: gold;
}