@font-face {
    font-family: 'oswaldregular';
    src: url('./fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    background:
        url(./images/photo-1570191913384-7b4ff11716e7.avif)
        no-repeat
        left top / 40vw auto,
        linear-gradient(to right, lightgrey 60vw, lightgrey 100%);
        font-family:'oswaldregular', 'Times New Roman', Times, serif;
        font-size: 16px; 
}
.main {
    border: 3px solid red;
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
h1 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 8rem;
    line-height: 1.2;
}
h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-left: 3rem;
}
p {
    font-size: 1.8rem;
}
.form-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;

}
.forms {
    font-size: 1.2rem;
}
label {
    margin-right: 5rem;
    display: inline-block;
}
input {
    display: block;
    border-radius: 0.6rem;
    border: 2px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
    height: 25px;
}
input:invalid {
    border-color: red;
}
input:valid {
    border-color: green;
}
input:focus {
    border-color: lightskyblue;
}



